chumpy
einops==0.6.1
h5py==3.10.0
imageio==2.31.1
mathutils==3.3.0
matplotlib==3.7.1
natsort==8.4.0
numpy==1.23.1
open3d-python==0.3.0.0
opencv-python==4.8.1.78
pandas==2.2.02
Pillow==10.0.1
protobuf==4.24.3
PyGLM==2.7.1
PyOpenGL==3.1.0
pytorch-lightning==1.9.0
safetensors==0.4.2
scikit-image==0.22.0
scikit-learn==1.4.1.post1
scipy==1.11.0
tomli==2.0.1
torch==2.2.0+cu118
torchaudio==2.2.0+cu118
torchlight==1.0
torchmetrics==1.1.2
torchvision==0.17.0+cu118
tqdm==4.65.0
trimesh==3.22.1
wandb==0.15.10

